
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

.em {
    color: #993300;
    background-color: transparent;
    font-weight: bold;   
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body{
    margin: 0 15px 0 15px;
}

#news {
    padding: 12px 10px 12px 10px;
}

.footer-right{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

.footer-left{
    text-align: left;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

.signature{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 4px #A0A0D0;
}

.right{
  float: right;
  text-align: right;
}

table {
  background-color: #d0d0d0;
}

td {
  background-color: #fefefe;
}

th {
  background-color: #eeeeee;
}

.buttons {
    float: center;
    margin: 20px 20px 0px 0px;
    background-color: #fff;
    border-bottom: 1px solid #D0D0D0;
    text-align: center;
    font: 13px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

.number {
  text-align: right;
  padding-right: 8px;  
}

#searchbox {
  font-size: 13px;
  float: right;
}

.title {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 10px 15px 9px 15px;
}

.signature {
    font-size: 11px;
}

